body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.card {
    max-width: 600px;
    margin-left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
    display: flex;
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}


.card h4 {
    font-size: 1.2rem;
    margin: 10px 0;
}
.card .card-body {
    padding: 40px;
}

.card img {
    max-width: 150%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ratingInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.rateButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.rateButton:hover {
    background-color: #0056b3;
}

.fa-star {
    color: #ffc107;
}

.hidden {
    display: none;
}         

